html {
  background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
  height:100%;
}

.inputPlateau, .botEdge, .sideEdge, .selectPiece{
  background-color:rgba(255, 255, 255, .35);
}
#plateau, .dataPlateau, .rowPlateau, #tablePlateau, .piecesDispo , .pieceField{
  background-color:rgba(0, 0, 0, 0);
}

#plateau {
  top:16%;
  margin-left: auto; 
  margin-right: auto;
  position:relative;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  width:800px;
  height:800px;
//box-shadow: -15px 15px 50px white;
}
tr {
  display: flex;
  width: 100%; }
td{
  display:grid;
}
.inputPlateau{
//background-color:#FFF0E0;
  color:initial !important;
  border:solid;
  width:100%;
  grid-column: 1;
  grid-row: 1;
  height:100%;
  text-indent:-9999px;
}
.inputPlateau:hover:enabled {
  //background-color:blue !important;
  box-shadow: inset 0px 0px 30px #ADFF2F;
}
.piece{
//box-shadow: -15px 15px 50px black;
  width:200px;
  height:200px;
  pointer-events: none;
  position:relative;
  top:-25%;
  right:-20%;
  grid-column: 1;
  grid-row: 1;
  -webkit-transform: skewX(-42deg)  skewY(28deg);
}

.botEdges{
  position:relative;
  display: flex;
  left:-1.99%;
  flex-direction: row;
  transform: skewX(-45deg)  skewY(0deg);
}

.botEdge{
//background-color:#FFF0E0;
  border:solid;
  position:relative;
  height: 30px;
  width: 200px;
//transform: skewX(-45deg)  skewY(0deg);
}

.sideEdges{
  position:relative;
  display: flex;
  top:-54.4%;
  left:-52%;
  flex-direction: row;
  transform: rotate(-90deg) skewX(45deg)  skewY(0deg);
}

.sideEdge{
//background-color:#FFF0E0;
  border:solid;
  position:relative;
  height: 30px;
  width: 200px;
//transform: skewX(-45deg)  skewY(0deg);
}

#lesBlancs + .piecesDispo{
  position:fixed;
  width:800px;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  height:400px;
  top:13%;
  left:5%;
  justify-content: flex-end;
  align-items: flex-end;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.pieceField{
  display:grid;
  width:200px;
  height:200px;
}

.selectPiece{
    text-indent:-9999px;
  border:solid;
  color:initial !important;
  width:100%;
  grid-column: 1;
  grid-row: 1;
  height:100%;
}

.selectPiece:hover:enabled {
  box-shadow: inset 0px 0px 30px #ADFF2F;
  //background-color:rgba(0, 166, 255, 35);
}

.botEdgesSelect{
  z-index: -2;
  position:relative;
  display: flex;
  left:-8.59%;
  top:-100%;
  flex-direction: row;
  transform: skewX(-45deg)  skewY(0deg);
}

.sideEdgesSelect{
  z-index: -1;
  position:relative;
  display: flex;
  top:-283%;
  left:-58%;
  flex-direction: row;
  transform: rotate(-90deg) skewX(45deg)  skewY(0deg);
}


#lesNoirs + .piecesDispo{
  position:fixed;
  width:400px;
  display: flex;
  flex-wrap:wrap-reverse;
  flex-direction: column-reverse;
  height:800px;
  top:-8.5%;
  right: 15.5%;
  justify-content: flex-end;
  align-items: flex-end;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

#annuler {
  position: fixed;
  top: 18%;
  padding: 4px;
  border:solid;
  left: 45%;
  //text-indent: -50%;
  background-color:rgba(255, 255, 255, .35);
  //color: rgba(255, 255, 255, .6);
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
}

#reset{
  position: relative;
  bottom: -10%;
  padding: 4px;
  width: 8%;
  display: flex;
  justify-content: center;
  border:solid;
  margin-left: auto; 
  margin-right: auto;
  //text-indent: -50%;
  background-color:rgba(255, 255, 255, .35);
}
#reset a{
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
}

#victoire{
  position: fixed;
  top: 14%;
  left:43%;
  font-size: 30px;
}

.title {
  font-family: verdana;
  position: fixed;
  letter-spacing: 150px;
  top:1%;
  left:50%;
  margin:0;
  text-indent:-50%;
  color: mix(#fff, #e91e63, 85%);
  font-size: 110px;
}


body, html{
    position: relative;
  height:100%;
  width:100%;
  margin:0;
}
.quantik{
  position: relative;
  height:100%;
  width:100%;

}

input , .inputPlateau{
  border:solid;
}

*{
  border-collapse: collapse;
  padding:0;
  margin:0;
  border-spacing:0;
}
